{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block page_content %}



<div class="col-md-3">
	<div class="column-header">
		<h1 class="page-header">Dashboard</h1>
	</div>
	{% include 'tasks_module.html' %}
</div>
<div class="col-md-6">
	<div id="graph-module" class="module">
		<div class="flex-container module-header">
			<h3>Project Contributions</h3>
			<div class="module-links flex-container">
				<a href="">Last Week</a>
				<a href="" >Last 30 Days</a>
			</div>
		</div>
		<div class="module-body">
			<canvas id="project-graph"></canvas>	
		</div>
	</div>
	{% include 'projects_module.html' %}
</div>
<div class="col-md-3">
	<div id="appointments-module" class="module">
		<div class="module-header flex-container">
			<h3>Appointments</h3>
			<a class="create-link" href="">+</a>
		</div>
	</div>
</div>
{% endblock %}

{% block modals %}
	{% include 'modals.html' %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/projects.js') }}"></script>
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<script src="{{ url_for('static', filename='js/graph.js') }}"></script>
{% endblock %}