{% extends 'base.html' %}

{% block page_content %}
<div class="page-header">
	<h1>Your tasks</h1>
	<a href="/tasks/add">+ Add a new task</a>
</div>
<div class="col-md-4">
	{% for task in tasks %}
	<p>{{ task.description}}</p>
	<form action method="post" class="form" role="form">
		<div style="display:none;">
			<input type="hidden" name="complete" value="{{ task.id }}">
		</div>
		<input class="btn btn-default" name="submit" type="submit" value="Mark complete">
	</form>
	{% endfor %}
</div>
{% endblock %}