{% macro render_project(id, name, goal, completed) %}
<li class="project">
	<div class="project-header flex-container">
		<h4>{{ name }}</h4>
		<div class="btn-group">
  			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" 
  				aria-expanded="false">
    			<span class="caret"></span>
  			</button>
  			<ul class="dropdown-menu add-time-popup">
			    <li>
			    	<p>Add time (minutes):</p>
			    	<form class="flex-container add-time-form" action="/projects/contribute" method="post">
			    		<input type="hidden" name="id" value="{{ id }}">
			    		<input class="form-control" type="number" min="1" name="time">
			    		<input class="btn btn-primary" type="submit" name="submit" value="Add">
			    	</form>
			    </li>
			    <li role="separator" class="divider"></li>
			    <li><a href="#">Separated link</a></li>
		  	</ul>
		</div>		
	</div>
	<div class="status-bar">
		<div class="status-bar-fill" data-complete="{{ completed }}" 
			data-goal="{{ goal }}" data-id="{{ id }}"></div>
	</div>
	<p><span class='completed-text' data-id="{{ id }}">{{ completed }}</span> out of 
		<span class="goal-text" data-id="{{ id }}">{{ goal }} </span>minutes</p>
</li>
{% endmacro %}


<div class="module">
	<div class="flex-container module-header">
		<h3>Your projects</h3>
		<a href="#">+</a>
	</div>
	<ul class="module-list">
		{% for project in projects %}
		{{ render_project(*project)}}
		{% endfor %}	
	</ul>	
</div>