{% macro render_project(id, name, goal, completed) %}
<li class="project">
	<div class="project-header flex-container">
		<h4>{{ name }}</h4>
		<div class="btn-group">
  			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" 
  				aria-expanded="false">
    			<span class="caret"></span>
  			</button>
  			<ul class="dropdown-menu add-time-popup">
			    <li>
			    	<p>Add time (minutes):</p>
			    	<form class="flex-container add-time-form" action="/projects/contribute" method="post">
			    		<input type="hidden" name="id" value="{{ id }}">
			    		<input class="form-control" type="number" min="1" name="time">
			    		<input class="btn btn-primary" type="submit" name="submit" value="Add">
			    	</form>
			    </li>
			    <li role="separator" class="divider"></li>
			    <li><a href="#">Separated link</a></li>
		  	</ul>
		</div>		
	</div>
	<div class="status-bar">
		<div class="status-bar-fill" data-complete="{{ completed }}" 
			data-goal="{{ goal }}" data-id="{{ id }}"></div>
	</div>
	<p><span class='completed-text' data-id="{{ id }}">{{ completed }}</span> out of 
		<span class="goal-text" data-id="{{ id }}">{{ goal }} </span>minutes</p>
</li>
{% endmacro %}


<div class="module">
	<div class="flex-container module-header">
		<h3>Projects</h3>
		<ul class="module-nav flex-container">
			<li class="active" data-target="todays-goals"><a href="">Today's Goals</a></li>
			<li data-target="view-all-projects"><a href="" >View All</a></li>
			<li><a href="">+ New Project</a></li>
		</ul>
	</div>
	<div class="module-body">

		<!--  BEGIN TODAY'S GOALS -->
		<div id="todays-goals" class="module-content active">
			<ul class="module-list">
				{% for goal in goals %}
				{{ render_project(*goal)}}
				{% endfor %}	
			</ul>
		</div>
		<!-- END TODAY'S GOALS -->


		<!-- BEGIN VIEW ALL -->
		<div id="view-all-projects" class="module-content">
		        <ul class="module-list">
		            {% for project in projects %}
		            <!-- render project -->
		                <li class="project">
		                    <div class="flex-container project-header">
		                        <h4>{{ project.name }}</h4>
		                        <a href="">Add a goal to this project</a>
		                    </div>
		                    <ul class="module-list goal-list">
		                        {% for goal in project['goals'] %}
		                        <li>
		                            <b>Goal:</b> {{goal.time}} minutes on
		                            <ul class="weekdays flex-container">
	                                    {% for day in ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'] %}
	                                        <li {{'active' if day in goal.days else ''}}>{{day}}</li>
	                                    {% endfor %}
		                            </ul>
		                            <div class="flex-container goal-footer">
		                                <a href="#">Edit</a>
		                                <a class="delete-goal-link" data-id="{{ goal.id }}" href="">Delete</a>
		                            </div>
		                        </li>
		                        {% endfor %}
		                    </ul>
		                    
		                </li>
		            {% endfor %}
		        </ul>	
		</div>
		<!-- END VIEW ALL -->

	</div>

</div>