{% macro render_task(task) %}
	<li class="task" data-id={{ task.id }}>
		<h4>{{ task.description}}</h4>
		<p>Deadline: {{ task.deadline.strftime('%m-%d-%Y') if task.deadline else 'no deadline'}}</p>
			<form method="post" class="form complete-task-form" role="form">
				<div style="display:none;">
					<input type="hidden" name="complete" value="{{ task.id }}">
					<input type="hidden" name="state" value="{{ session['state'] }}">
				</div>
				<input class="complete-task-btn btn btn-primary" data-id="{{ task.id }}" name="submit"
					type="submit" value="Mark complete">
			</form>
	
	</li>
{% endmacro %}

<div class="module">
	<div class="module-header flex-container">
		<h3>Tasks</h3>
		<a id="add-task-link" href="{{ url_for('main.add_task') }}">+</a>
	</div>
	<ul class="module-list">
		{% for task in tasks %}
			{{ render_task(task) }}
		{% endfor %}
	</ul>
</div>

