/* General Styles */

.flex-container {
	display: flex;
}

/* Module Styles */

.module {
	border: 1px solid #eee;
	border-radius: 4px;
	margin-bottom: 20px;
}

.module-header {
	justify-content: space-between;
	height: 60px;
	border-bottom: 2px solid #ccc;
	padding: 0px 10px;
}

.module-header  a {
	align-self: flex-end;
	font-size: 24px;
	margin: 10px;
}

.module-list {
	list-style: none;
	padding-left: 0px
}

.module-list li:last-child {
	border: none;
}

/* Task Styles */

.task {
	min-height: 100px;
	border-bottom: 1px solid #eee;
	border-radius: 4px;
	padding: 10px;
}


/* Project Styles */

.project {
	margin: 10px 0px;
	border-bottom: 1px solid #eee;
	border-radius: 4px;
	padding: 10px;
}

.project-header {
	height: 40px;
	justify-content: space-between;
}

.project-header a {
	align-self: flex-end;
	margin: 5px;
}

.status-bar {
	width: 100%;
	height: 40px;
	border: 1px solid #aaa;
	border-radius: 3px;
	background-color: #fff;
}

.status-bar-fill {
	height: 100%;
	width: 0%;
	margin: 0px;
	padding: 0px;
	background: linear-gradient(rgb(105, 204, 65),#2C901A);
}

.project p {
	margin: 8px 4px;
}

.add-time-popup li p {
	padding: 6px 10px;
}

.add-time-popup form {
	padding: 10px, 0px;
}

.add-time-popup form .btn {
	height: 34px;
}

.add-time-popup form .form-control {
	width: 50%;
	margin: 0px 10px;
}

/* modal styles */

#modal {
	width: 400px;
	border-radius: 7px;
	position: fixed;
	display: none;
	z-index: 1002;
	max-height: 550px;
	overflow: scroll;
}

.modal-backdrop {
	position: fixed;
	z-index: 1001;
	display: none;

}

.modal-content {
	display: none;
	width: 100%;
	height: 100%;
}

.modal-header .flex-container {
	line-height: 100%;
}

.modal-header a {
	margin-left: 20px;
	align-self: center;
}

.modal-list {
	list-style: none;
	padding: 10px;
}

.modal-list > li {
	margin-top: 25px;
	border-bottom: 2px solid #eee;
}

.modal-list > li:first-child {
	margin-top: 0px;
	border-bottom: 2px solid #eee;
}

.modal-project-header {
	justify-content: space-between;
}

.modal-project-header h4 {
	align-self: flex-end;
	margin: 0px;
}

.modal-project-header a {
	align-self: flex-end;
}


.goal-list > li {
	border-bottom: 1px solid #eee;
	margin-top: 20px;
}

.goal-list li:last-child {
	border: none;
}

.goal-list > li:first-child {
	margin: 0px;
}

.weekday-indicator {
	display: flex;
	height: 30px;
	padding: 0px;
	margin: 10px 0px;
}

.weekday-indicator .weekdays {
	display: flex;
	list-style: none;
	padding: 0px;
	width: 100%;
	border: 1px solid #bbb;
	border-radius: 5px;
	width: 324px;
	line-height: 30px;
}

.weekday-indicator .weekdays li {
	padding: 0px;
	margin: 0px;
	border-right: 1px solid #bbb;
	border-bottom: none;
	width: 46px;
	text-align: center;
	background-color: #eee;
}

.weekday-indicator .weekdays li:last-child {
	border: none;
}

.weekday-indicator .weekdays li[active] {
	background-color: #337ab7;
	color: white;
}

.goal-footer {
	justify-content: flex-end;
}

.goal-footer a {
	padding: 0px 6px;
	margin: 5px 0px;
}