/* General Styles */

.flex-container {
	display: flex;
}

/* Module Styles */

.module {
	border: 1px solid #eee;
	border-radius: 4px;
	margin-bottom: 20px;
}

.module-header {
	justify-content: space-between;
	height: 60px;
	border-bottom: 2px solid #ccc;
	padding: 0px 10px;
}

/*.module-header  a {
	align-self: flex-end;
	font-size: 24px;
	margin: 10px;
}*/

.module-nav {
	list-style: none;
	padding: 0px;
	height: 34px;
	line-height: 34px;
	align-self: flex-end;
	
}

.module-nav li {
	padding: 0px;
	margin: 0px 5px;
}

.module-nav li a {
	padding: 5px;
	display: inline-block;
	height: 34px;
	line-height: 24px;
	vertical-align: middle;
	border: 1px solid #eee;
	border-radius: 5px;
	text-decoration: none;
}

.module-nav li a:hover {
	background-color: #eee;
	border: 1px solid #999;
}

.module-content {
	display: none;
}

.module-content.active {
	display: block;
}

.module-list {
	list-style: none;
	padding-left: 0px
}

.module-list li:last-child {
	border: none;
}
/* Task Styles */

.task {
	min-height: 100px;
	border-bottom: 1px solid #eee;
	border-radius: 4px;
	padding: 10px;
}


/* Project Styles */

.project {
	margin: 10px 0px;
	border-bottom: 1px solid #eee;
	border-radius: 4px;
	padding: 10px;
}

.project-header {
	height: 40px;
	justify-content: space-between;
}

.project-header a {
	align-self: flex-end;
	margin: 5px;
}

.status-bar {
	width: 100%;
	height: 40px;
	border: 1px solid #aaa;
	border-radius: 3px;
	background-color: #fff;
}

.status-bar-fill {
	height: 100%;
	width: 0%;
	margin: 0px;
	padding: 0px;
	background: linear-gradient(rgb(105, 204, 65),#2C901A);
}

.project p {
	margin: 8px 4px;
}

.add-time-popup li p {
	padding: 6px 10px;
}

.add-time-popup form {
	padding: 10px, 0px;
}

.add-time-popup form .btn {
	height: 34px;
}

.add-time-popup form .form-control {
	width: 50%;
	margin: 0px 10px;
}






.goal-list > li {
	border-bottom: 1px solid #eee;
	margin-top: 20px;
}

.goal-list li:last-child {
	border: none;
}

.goal-list > li:first-child {
	margin: 0px;
}

.weekdays {
	display: flex;
	list-style: none;
	padding: 0px;
	width: 100%;
	border: 1px solid #303D48;
	width: 100%;
	line-height: 40px;
	height: 40px;
	padding: 0px;
	margin: 10px 0px;
}

.weekdays li {
	padding: 0px;
	margin: 0px;
	border-right: 1px solid #303D48;
	border-bottom: none;
	text-align: center;
	background-color: #eee;
	flex: 1;
}

.weekdays li:last-child {
	border: none;
	width: 14.8%;
}

.weekdays li[active] {
	background-color: #8D3ABF;
	color: white;
}

.goal-footer {
	justify-content: flex-end;
}

.goal-footer a {
	padding: 0px 6px;
	margin: 5px 0px;
}

/* modal styles */

#modal {
	width: 400px;
	border-radius: 7px;
	position: fixed;
	display: none;
	z-index: 1002;
	max-height: 550px;
	overflow: scroll;
}

.modal-backdrop {
	position: fixed;
	z-index: 1001;
	display: none;

}

.modal-content {
	display: none;
	width: 100%;
	height: 100%;
}

.modal-header .flex-container {
	line-height: 100%;
}

.modal-header a {
	margin-left: 20px;
	align-self: center;
}